{% extends 'base.html' %}

{% block title %} 
    About 
{% endblock %}

{% block content %}
<style>
        .navbar{
            background-color: #000;
            position: sticky;
            border-bottom: 0.2px solid white;
            box-shadow: 10px 0px 5px #000000;
            top: 0;
        }
        .banner{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../static/images/bg2.jpg);
        }
        h3{
            font-size: 24px;
            font-weight: 500;
        }
    </style>

    <section class="contact">
        
        <div class="banner">
            <h2>About Us</h2>
        </div>
        <div class="content" style="padding: 10px 50px;">
            <h3>Welcome to Wanderlust Adventures!</h3>
            <p>At Wanderlust Adventures, we're passionate about exploring the world and creating unforgettable travel experiences. Whether you're a seasoned globetrotter or a first-time traveler, our goal is to inspire, inform, and assist you in planning your next adventure. Our about page is here to give you a glimpse into who we are and what we stand for.</p>   
            <h3>Who We Are</h3>
            <p> Wanderlust Adventures was founded by a team of avid travelers who share a deep love for discovering new places, cultures, and experiences. We understand the transformative power of travel and believe that it has the potential to enrich lives, broaden perspectives, and create lifelong memories.</p>
            <h3>Our Mission</h3>
            <p> Our mission is to make travel more accessible, enjoyable, and meaningful for everyone.We strive to provide reliable information, expert advice, and personalized recommendationsto help you plan your dream trip with confidence. Whether you're seeking adrenaline-pumpingadventures, cultural immersions, or tranquil escapes, we're here to guide you every step ofthe way.</p>
        </div>
    </section>
    {% endblock %}