{% extends 'base.html' %}

{% block title %} 
    Index 
{% endblock %}

{% block content %}

    <section class="wrapper" style="background-image: url(../static/images/bg3.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div>
                <div class="tag-line">
                    <h2>Let's Explore Your <br> Awesome City</h2>
                    <p>Find great places to stay, eat, shop, or visit from local experts.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="explore section1">
        <h2>FAMOUS COUNTRIES</h2>
        <div class="content">
            <div class="card">
                <img src="../static/images/card1.jpg" alt="">
                <div>
                    <h3>INDIA</h3>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2021/10/09/07/06/natural-6693234_640.jpg" alt="">
                <div>
                    <h3>JAPAN</h3>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2018/07/30/14/26/newyork-3572763_640.jpg" alt="">
                <div>
                    <h3>AMERICA</h3>
                </div>
            </div>
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2016/09/15/01/57/temple-1670926_640.jpg" alt="">
                <div>
                    <h3>THAILAND</h3>
                </div>
            </div>
        </div>
    </section>
    <section class="catogory section1">
        <h2>Explore Category</h2>
        <div class="content flex-center-center">
            <div class="card">
                <img src="../static/images/img1.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img2.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img3.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img4.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img5.png" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img6.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img7.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
            <div class="card">
                <img src="../static/images/img8.jpg" alt="">
                <span>
                    <!-- <h3>Web Dev</h3> -->
                </span>
            </div>
        </div>
    </section>


    {% endblock %}
  